%h2= @type.title
- form_for (@type, :url => layer_type_path(@type.layer, @type), :method => :put, :html => { :multipart => true }) do |f|
  = render(:partial => 'form', :locals => { :f => f, :type => @type, :layer => @layer })
  = f.submit 'Save'
  = link_to 'Cancel', edit_layer_path(@type.layer)

#color_picker
